@model IEnumerable<IdentityUser>

<div class="text-center my-5">
    <div class="display-6">User</div>
</div>

<table>
    <thead>
<tr>
    <th>Id</th>
    <th>UserName</th>
    <th>Roles</th>
    <th>Operations</th>
</tr>
    </thead>
    <tbody>
@foreach(var user in Model)
{
    <tr>
        <td>@user.Id</td>
        <td>@user.UserName</td>
        <td>-.</td>
        <td><div class="btn-group">
            <a class="btn btn-sm btn-warning m-1 rounded-2" asp-action="Update" asp-route-id="@user.UserName">Edit</a>
            <a class="btn btn-sm btn-info m-1 rounded-2" asp-action="ResetPassword">Reset Password</a>
            <a class="btn btn-sm btn-danger m-1 rounded-2">Delete</a>
        </div></td>
    </tr>
}
    </tbody>
</table>