@model List<Product>

@section Footer{
    <div>
        Only for a index.cshtml page footer
    </div>
}
@foreach (StoreApp.Models.Product prd in Model)

{
    <div>
        <h3>@prd.ProductName</h3>
        <p>@prd.Price</p>
        <p>
            <a href="product/get/@prd.Id">Get Details</a>
        </p>
    </div>
}
