<div class="bg-light border-top p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="lead text-center">
                    <i class="fa fa-solid fa-store text-secondary display-6"></i>
                    <br/>
                    <bold>Alperen</bold>Güneş
                </div>
                <div class="text-muted text-center">
                    Store App
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-muted my-3">
                    &copy;2024 <br/> BTK Akademi ASP.NET Core MVC Training
                    <br>
                    <div class="email">alperen-gunes.eng@gmail.com</div>
                </div>
                <div class="text-center">
                    <div class="btn-group">
                        <a target="_blank" href="https://www.linkedin.com/in/alperen-gunes/" class="btn btn-secondary">
                            <i class="fa fa-brands fa-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/Sunnrise" class="btn btn-secondary">
                            <i class="fa fa-brands fa-github"></i>
                        </a>
                        <a target="_blank" class="btn btn-secondary">
                            <i class="fa fa-brands fa-facebook"></i>
                        </a>
                        <a target="_blank" class="btn btn-secondary">
                            <i class="fa fa-brands fa-twitter"></i>
                        </a>
                        <a target="_blank" class="btn btn-secondary">
                            <i class="fa fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
                </div>
            <div class="col-md-2">
                <div products="" number="6"></div>
            </div>
        </div>
    </div>
</div>