<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
</html>
<body>
    <header>
        Store App : Header
        @RenderSection("Header",false)
    </header>
    <main>
        @RenderBody()
    </main>
    <Footer>   
        @RenderSection("Footer",false)
        Footer
    </Footer>
    @await RenderSectionAsync("Scripts", required:false)
</body>
</html>